.centered {
  margin-top: 350px;
  margin-left: 425px;
  text-align: center;
  font-family: Lato;

  width: 540px;
  height: 540px;
  padding: 100px 0;
  background-color: white;
  border: 6px solid black;
}

.uStock {
  margin-top: 50px;
  margin-left: 175px;
  text-align: center;
  font-family: Lato;

  width: 1040px;
  height: 240px;
  padding: 100px 0;
  background-color: white;
  border: 6px solid black;
}

.total{
  margin-top: 50px;
  margin-left: 600px;
  text-align: center;
  font-family: Lato;
  color: green;
  width: 240px;
  height: 240px;
  padding: 100px 0;
  background-color: white;
  border: 6px solid black;
}

.centered2{
  margin-top: 350px;
  margin-left: 1350px;
  padding: 1000px 0;
  text-align: center;
  font-family: Lato;

  width: 540px;
  height: 540px;
  padding: 100px 0;
  background-color: white;
  border: 6px solid black;
}




body{
  background-color: lightslategray;
  background-image: url("tick.jpg");
  background-attachment: fixed;
}

.shareBox{
  margin-left: 5px;
  margin-right: 125px;
  margin-bottom: 10px;
}


.inputBox{
  margin-left: 5px;
  margin-right: 5px;
}

.logoImg{
  image-rendering: crisp-edges;
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.tblImg{
  padding: 5px;
  image-rendering: crisp-edges;
  height: 50px;
  width: 50px;
  object-fit: contain;
}


*{

  box-sizing:border-box;
  margin: 0;
  padding: 0;

}

li, a, button, Link{
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.counterL{
  margin-right: 5px;
padding: 5px;



}

.counterR{

  margin-left: 5px;
  padding: 5px;



}
th, td {
  padding: 10px;
}

header{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252A;
}

.stockLogo{
  cursor: pointer;

}

.links {
  margin-top: 25px;
  link-style:none;
  margin-right: 335px;

}
.links2{
  margin-top: 25px;
  link-style:none;
  margin-right: 160px;

}


.h3{
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.links li, .links2 li, .as{
  display: inline-block;
  padding: 10px 20px;

}


.links li a, .links2 li a{
  transition: all 0.3s ease 0s;

}

.links li a:hover, links2 li a:hover{
  color:rgba(0,136,169,1);

}
.subButton{
  padding: 5px 25px;
  background-color: rgba(0,136,169,1);
  margin-left: 25px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease 0s;
}

.subButton:hover {

  background-color: rgba(0, 186, 189, 1);

}

.portButton:hover{
  background-color: rgba(0, 186, 189, 1);
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {

  background-color: rgba(0, 136, 169, 0.3);

}

.signButton{
  background-color: #B9B8B8;
  padding: 9px 30px;
  margin-right: 20px;
}

.logLink, .signLink{
  color: rgba(0,16,169,1);
}

.logLink, .signLink:hover{
  color: rgba(0,175,169,1);
}

